<%# <form method="Post" action="/users" accept-charset="UTF-8">
<input type="text" name="user[username]">
<input type="email" name="user[email]">
<input type="password" name="user[password]">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>
<%# <input type="submit" name="commit" value="Create" data-disable-with="Create" />
</form> %>

 <%# <%= form_tag('/users', method: "post") do %>
    <%# <%= text_field_tag(:username) %>
    <%# <%= email_field_tag(:email) %>
    <%# <%= password_field_tag(:password) %>
    <%# <%= submit_tag "Create New User" %>
  <%# <% end %>

   <%= form_for @user, url: edit_user_path, html: { method: :put } do |f| %> 
    <%= f.text_field :username, placeholder: "username" %>
    <%= f.text_field :email, placeholder: "example@example.com" %>
    <%= f.password_field :password %>
    <%= f.submit "Create" %>
  <% end %>